.btn {
  color: white;
}
#button-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
#quote-box {
  background-color: white;
  padding: 2% 2% 0% 2%;
  width: 60vh;
  border-radius: 5px;
}
#author {
  text-align: end;
  padding: 6%;
}
#text {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}
